root = true

[*]
indent_style = tab
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yaml,yml,json,lock,neon}]
indent_style = space
indent_size = 4

[*.xlf]
indent_style = space
indent_size = 2

[*.twig]
insert_final_newline = false

[{,docker-}compose{,.*}.{yaml,yml}]
indent_style = space
indent_size = 2
